body{
    background-color: rgb(247, 247, 249);
    min-height: 100vh;
    width: 100vw;
    display: grid;
    /* background: url('light.jpg'); 
    background-size: 100% 100%; */
}
.Parent{
    display: flex;
    border: 2px solid black;
    background-color: rgb(126, 231, 243);
    height: 150px;
    width: 300px;
    margin: auto;
    justify-content: center;
    border-radius: 20px;
    mix-blend-mode: multiply;
    box-shadow: inset 10px 10px 10px rgb(42, 34, 34),
            inset -10px -10px 10px rgb(42, 34, 34);
    transition: transform .4s linear;
}
.Parent:hover{
    transform: rotate(360deg);
    background: rgb(238, 247, 248);
    cursor: pointer;
}

#time{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    border-radius: 10px;
    background-color: rgba(92, 245, 199, 0.998);
    height: 70px;
    box-shadow: inset -2px -2px 15px rgb(189, 175, 148),
    inset 2px 2px 15px rgb(189, 175, 148);
    width:200px;
    padding: 2vh;
    font-size: 30px;
    text-shadow: 2px -2px 2px  rgb(125, 118, 118);
    font-weight: bolder;
    color: rgb(61, 69, 67);
    margin: auto;
    color: transparent;
    mix-blend-mode: multiply;
    -webkit-text-fill-color: rgb(245, 144, 20);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(5, 16, 21);
    transition: transform .4s linear;
}

.Parent:hover #time{
    background-color: rgb(247, 236, 218);
    -webkit-text-fill-color: rgb(162, 156, 163);
    text-shadow: 2px -2px 2px  black;
    cursor: pointer;
    transform: rotate(-720deg);
}

.week{
    display: flex;
    position: absolute;
    color: rgb(27, 32, 30);
    font-size: 20px;
    /* border: 2px solid red; */
    text-shadow: 1px 1px 10px  rgb(224, 19, 19);
    margin-top:80px;
}

.Parent:hover .week{
    text-shadow: 1px 1px 10px  black;
    font-size: 20px;
}


 

